<?xml version='1.0' encoding='utf-8'?>
<widget id="com.venus" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Venus Mask</name>
    <description>
        Venus Mask
    </description>
    <author email="support@phonegap.com" href="http://phonegap.com">
        Ross Coombe
    </author>
    <content src="index.html" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="android-minSdkVersion" value="14" />
    <plugin name="cordova-plugin-device"         source="npm" spec="1.0.1" />
    <plugin name="cordova-plugin-whitelist"      source="npm" spec="1.1.0" />
    
    <platform name="android"><icon src="ldpi.png" platform="android" qualifier="ldpi" />
		<icon src="icons/mdpi.png" platform="android" qualifier="mdpi" />
		<icon src="icons/hdpi.png" platform="android" qualifier="hdpi" />
		<icon src="icons/xhdpi.png" platform="android" qualifier="xhdpi" />
		<icon src="icons/xxhdpi.png" platform="android" qualifier="xxhdpi" />
		<icon src="icons/xxxhdpi.png" platform="android" qualifier="xxxhdpi" />
    </platform>
    
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>

    
    <plugin name="cordova-plugin-device"         source="npm" spec="1.0.1" />
    <plugin name="cordova-plugin-whitelist"      source="npm" spec="1.1.0" />
    <plugin name="de.appplant.cordova.plugin.background-mode@0.4.0" source="npm" />
</widget>
